@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

form {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form .numbers {
    display: flex;
    justify-content: center;
}

form .numbers, form .message {
    width: 60%;
    margin: 10px;
}

form .numbers input {
    padding: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

form .numbers button {
    background-color: #25D366;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 40px;
    border: 0;
    box-sizing: border-box;
    margin-left: 10px;
}

form .numbers button:focus {
    outline: none;
}

form .message textarea {
    width: 100%;
    background-color: #fcfcfc;
    resize: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 3px;
}

form .message textarea:focus {
    outline: none;
}

form .message button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border: 0;
}