.small-heading {
  padding: 10px;
  text-align: center;
  position: relative;
  background: #ccc;
  color: #000;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.small-heading::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.small-heading {
  display: inline-block;
}

.wrapper {
  text-align: center;
}

.wrapper::before {
  content: "";
  position: absolute;

  top: 90%;
  left: 30px;
  border-bottom: 4px double #e9e9e9;
  right: 30px;
}
