<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk Message</title>
    <link rel="stylesheet" href="bulk.css" />
    <script
      src="https://kit.fontawesome.com/f6b6249fba.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <form action="/bulk/number" , method="post">
      <div class="numbers">
        <input type="text" , name="numbers" placeholder="Insert number.." />
        <button><i class="fas fa-check"></i></button>
      </div>
    </form>
    <form action="/bulk/message" , method="post">
      <div class="message">
        <textarea
          name="message"
          id=""
          cols="30"
          rows="10"
          placeholder="Insert message.."
        ></textarea>
        <button><i class="fas fa-check"></i></button>
      </div>
    </form>
  </body>
</html>

<!--Thanks, Atom.-->