<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    <link rel="stylesheet" href="contacts.css" />

</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Group?</th>
        </tr>

        <% for(var id = 0; id < contacts.length; id++){ %>
            <tr>
                <td>
                    <%- contacts[id]?.name %>
                </td>

                <td>
                    <%- contacts[id]?.number %>
                </td>

                <td>
                    <%- contacts[id].isGroup %>
                </td>
            </tr>
            <%};%>
    </table>
</body>

</html>