<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logs</title>
    <link rel="stylesheet" href="logs.css" />

</head>

<body>
    <div class="wrapper">
        <% log.forEach((message)=> { %>
            <p1 class="small-heading"> <%- message %> </p1>
        <%});%>
    </div>
</body>

</html>