<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QR Code</title>

  <style>
    h1 {
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }
  </style>

</head>

<body>
  <h1>Scan the QR code, dumbass.</h1>
  <img src=<%=url%> alt="QR Code Image">
</body>

</html>