<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify - Listening to what</title>
</head>

<body>
    <h2>We will update your status as long as you stay here ( ͡~ ͜ʖ ͡°)</h2>

    <script>
        setTimeout(() => {
            console.log("refreshing page to check if user is playing any new song")
            location.reload()
        }, 150_000)
    </script>
</body>

</html>